@using NetMatch_PT.Models
@model NetMatch_PT.Models.User;
@{
    ViewData["Title"] = "Login";
}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: white;
    }

    .box {
        width: 300px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000000;
        text-align: center;
        border-radius: 15px 50px 30px;
    }

        .box h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }

        .box input[type="text"], .box input[type="password"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }

            .box input[type="text"]:focus, .box input[type="password"]:focus {
                width: 280px;
                border-color: #2ecc71;
            }

        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
        }

            .box input[type="submit"]:hover {
                background: #2ecc71;
            }
</style>
<center>
    <h1>Login</h1>
    <div class="box">
        <form asp-action="Login" method="post">
            <input type="text" name="Email" asp-for="@Model.Email" placeholder="Email"/>
            <input type="password" name="Password" asp-for="@Model.Password" placeholder="Password" />
            <input type="submit" onclick="CheckNullOrEmpty()" value="Login" />
            <h1>@Html.ViewData["Message"]</h1>
        </form>
</center>
</div>

<script>
    function CheckNullOrEmpty() {
        var emailText = document.getElementById("Email").value;
        var wachtwoordText = document.getElementById("Password").value;
        var emailLength = emailText.length;
        var wachtwoordLength = wachtwoordText.length;
        if (emailLength == 0 || wachtwoordLength == 0) {
            alert("Wachtwoord en Email moeten ingevuld worden!");
        }
    }
</script>