


#btnToevoegen1{
    position:absolute;
    width:100px;
    height:35px;
    margin-left:20px;
   
}
#btnToevoegen{
    position:absolute;
    width:100px;
    height:35px;
    margin-left: 20px;
}


#btnheader {
    width: 50px;
    height: 25px;
}

#aanhefCh {
    position: absolute;
    margin-left: 20px;
}

#telefoonnr {
    position: absolute;
    margin-left: 20px;
}

.nationality {
    position: absolute;
    margin-left: 20px;
}

#aanhef {
    position: absolute;
    margin-left: 20px;
}

#StrReiziger {
    position: absolute;
    margin-left: 20px;
}

#HuisnrReiziger {
    position: absolute;
    margin-left: 208px;
}

#PcReiziger {
    position: absolute;
    margin-left: 208px;
}

#WpReiziger {
    position: absolute;
    margin-left: 20px;
}

#AchternaamReiziger {
    position: absolute;
    margin-left: 208px;
}

#NameReiziger {
    position: absolute;
    margin-left: 20px;
}

.Reiziger1Box {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: transparent;
    border: groove;
    border-color: white;
    margin-top: 0px;
    margin-left: 0px;
}

.Reiziger2Box {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: transparent;
    border: double;
    border-color: white;
    margin-top: 0px;
    margin-left: 0px;
}

.Reiziger1 {
    position: absolute;
    margin-left: 730px;
    font-family: Cambria;
}

.Reiziger2 {
    position: absolute;
    margin-left: 730px;
    font-family: Cambria;
    margin-top: 560px;
    border-color: black;
    border: 50px;
}

.postcode {
    position: absolute;
    margin-left: 5px;
    width: 80px;
}

.huisnr {
    position: absolute;
    margin-left: 5px;
    width: 55px;
}

.Header {
    background-color: cornflowerblue;
    background-image: url("");
    width: 1900px;
    height: 100px;
    padding-top: 0px;
    text-align: center;
}

.GegevensReiziger {
    position: absolute;
    margin-left: 730px;
    font-family: Cambria;
}

.PersoonlijkeDetails {
    position: absolute;
    margin-left: 100px;
}

.Reis-boeking {
    background-color: cornflowerblue;
    width: 2000px;
    height: 1010px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
}


#DropDownVertrekDatum {
    position: absolute;
    margin-left: 50px;
}

.Vertrek-Datum {
    position: absolute;
    margin-left: 770px;
    font-family: Cambria;
}

#DropdownReisDuur {
    position: absolute;
    margin-left: 134px;
}

.reis-tijd {
    position: absolute;
    margin-left: 770px;
    font-family: Cambria;
}

#aantalVolwassenen {
    position: absolute;
    margin-left: 82px;
}

#aantalKinderen {
    margin-left: 106px;
}

#aantalKamers {
    margin-left: 115px;
}

.VolwassenenTextenValue {
    position: absolute;
    margin-left: 770px;
    font-family: Cambria;
}

.KamersTextenValue {
    position: absolute;
    margin-left: 770px;
    font-family: Cambria;
}

.KinderenTextenValue {
    position: absolute;
    margin-left: 770px;
    font-family: Cambria;
}

.btnReisgezelschap {
    display: inline-block;
}

.reisagent-div {
    background-color: cornflowerblue;
    width: 2000px;
    height: 450px;
    position: absolute;
    margin-left: 0px;
    margin-top: 600px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#btnBoekingOpslaan {
    position: absolute;
    width: 150px;
    height: 50px;
    margin-left: 1200px;
}

.randomVierkant{
    position:absolute;
    width:100px;
    height: 600px;
    border:medium;
    border-color: cornflowerblue;
}
