/*Prevention for unnecessary scrolling*/
body {
    overflow-x: hidden;
}

/*Main*/
main {
    margin-top: 3%;
}

/* Header */
.headerContainer {
    height: 15vh;
    background-color: rgba(75, 136, 235, 0.8);
}

.headerRow {
    height: 100%;
    width: 100vw;
}

.headerBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background: url('../images/PT_HeaderBG.png') no-repeat center center;
    background-size: 100% 100%;
}

.headerSearchBar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Logo */
.logoRow {
    width: 100%;
    height: 75%;
}

.navLogoContainer {
    width: 50%;
    height: 100%;
}

.navLogoImg {
    height: 100%;
    width: 80%;
    background: url('../images/PT_CompName.png') no-repeat center center;
    background-size: 100% 100%;
    margin-left: 18%;
    margin-top: 1%;
}

/* Navbar */
.navBarCustom {
    justify-content: space-around;
    border-radius: 10px
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: navajowhite !important;
}



/*Home page
------------------------------------------------- */
* {
    box-sizing: border-box;
}

.quickSearch {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    position:relative;
}

.columnselectors{
    float: left;
    width: 33%;
    position: relative;
}

.dropdownButton {
    background-color: cornflowerblue;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}


/* Responsive layout - 2 columns next to each other while in width range */
@media screen and (max-width:1440px) and (min-width:600px){
    .column {
        width: 50%;
    }
}

.accommodationimagehome img{
    width: 100%;
    float: left;
    padding: 15px;
}

.caption {
    display: block;
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: bold;
    font-family: Helvetica;
}

.populairheader{

    font-family: 'Times New Roman';

    font-size: 4rem;

    font-weight: bold;

    text-align:center;

}

.price {
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: bold;
    color: white;
    font-size: 35px;
}

.selector-container{
    text-align:center;
}

.selectorcontent {
    display:inline-block;
}