/* Navbar */
.navContainer {
    height: 15vh;
    background-color: rgba(75, 136, 235, 0.8);
}

body {
    overflow-x: hidden;
}

.navBG {
    max-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
}

.navFirstRow {
    height: 100%;
}

.navLogo {
    height: 100%;
}

.navLogoImg {
    max-height: 100%;
    max-width: 100%;
}

.phoneNumberHeader {
    line-height: 0;
    position: absolute;
    top: 50%;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: navajowhite !important;
}

.openingTimesHeader {
    display: flex; 
    text-align: center; 
    align-items: center;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
