@using NetMatch_PT.ViewModels
@model List<AccommodationDetailVm>

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>
<div class="container">
    @foreach (AccommodationDetailVm item in Model)
    {
        <div>
            <a href='@Url.Action("Detail", "Accommodation", new { id = item.Id })'>
                <div class="container">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
            </a>
        </div>
    }
</div>

