@model NetMatch_PT.ViewModels.AccommodationDetailVm;
@{
    ViewData["Title"] = "Voorbeeld Accommodatie";
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/AccommodationStyle.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}

<body style="background-color:lightblue;">
    <div class="parent">
        <div class="childcentre">

            <div class="accommodation-title">@Model.Title</div>

            <div class="accommodation-img-container">

                <div class="accommodation-img">
                    <div class="price-position">@Model.DatePrices.Min(n=>n.Price)</div>
                    <img src="data:image/jpeg;base64, @Model.Image" />
                </div>
            </div>

            <div class="row">

                <div class="column" style="margin-left:25%;">

                    <div class="childcentre">
                        <div class="accommodation-description">@Model.Description</div>
                    </div>
                </div>

                <div class="column">
                    <div class="childcentre">
                        <select>
                            <option>Kies een datum</option>
                            <option>Datum 1</option>
                            <option>Datum 2</option>
                            <option>Datum 3</option>
                        </select>

                        <div style="margin-top:25%;">



                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <input type="button" class="btn btn-primary" value="Boekingopties" id="OptionsBtn" />

                            <a class="openModal" asp-action="DatePicker" asp-controller="Accommodation" method="get" data-ajax="true" data-ajax-update="#myModal">Modal</a>


                            <script>
                                $('.openModal').on('click', function () {
                                    $('#myModal').modal({ show: true });
                                });
                            </script>

                            <script>
                                $("#OptionsBtn").click(function () {
                                    $('#myModal').load("/Accommodation/DatePicker");
                                    $('#myModal').modal("show");
                                });
                            </script>


                            <a asp-area="" asp-controller="Home" asp-action="Reisboeken"><input type="button" value="boeken" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>