

<div class="modal-header">
    <h3>Reisgezelschap kiezer</h3>
</div>

<div class="modal-body">
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Reisgezelinfo
    </div>
</div>

<div class="modal-footer">
    <a asp-action="DatePicker" asp-controller="Accommodation" method="get" data-ajax="true" data-ajax-update="#myModal" class="btn btn-primary">
        <input type="button" class="btn btn-primary" value="Terug" />
    </a>
    <a asp-action="Receipt" asp-controller="Accommodation" method="get" data-ajax="true" data-ajax-update="#myModal" class="btn btn-primary">
        <input type="button" class="btn btn-primary" value="Volgende" />
    </a>
</div>

@*<script>
    $(document).ready(function () {
        // Fill modal with content from link href
        $(".Receipt").on("click", function (e) {
            var link = $(this).data("href");
            $('#myModal .modal-body').load(link);
        });
    })
</script>

<script>
    $(document).ready(function () {
        // Fill modal with content from link href
        $(".DatePicker").on("click", function (e) {
            var link = $(this).data("href");
            $('#myModal .modal-body').load(link);
        });
    })
</script>*@