
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" media="screen" href="~/css/ContactPagina.css" />
</head>
<center>
    <h1>Contactpagina</h1>
</center>
<center>
    <div class="tekst">
        <h2>
            Telefonische bereikbaarheid
        </h2>
        <br />
        <p>
            Onze ervaren, enthousiaste en professionele reisadviseurs helpen u graag met het vinden van uw ideale vakantie! U kunt 6 dagen per week telefonisch contact met ons opnemen via 06 24111324
            <ul>
                <li>Onze Openingstijden</li>
                <li>Maandag tm Vrijdag: 09:00 - 17:00</li>
                <li>Zaterdag: 10:00 - 15:00</li>
                <li>Zondag: Gesloten</li>
            </ul>
        </p>
    </div>
    <br />
    <div class="tekst">
        <h2>
            Contactgegevens
        </h2>
        <br />
        <p>
            <ul>
                <li>Telefoonnummer: 0624111324</li>
                <li>Bedrijfsnaam: CYouAT</li>
                <li>Land: Nederland</li>
                <li>Postcode: 5017 HL</li>
                <li>Plaats: Tilburg</li>
                <li>Straatnaam: Professor Dondersstraat 46 </li>
                <li>Email-adres: CYouAT@hotmail.com</li>
            </ul>
        </p>
    </div>
</center>
