@{
    ViewData["Title"] = "Home Page";
    @model List<NetMatch_PT.ViewModels.AccommodationDetailVm>
}

    <div style="background-color: lightblue; height: 100%; width: 100%;">
        <div class="row">
            <div class="columnselectors">
                <div class="selector-container">
                    <div class="selectorcontent">
                        <select>
                            <option>Kies een soort vakantie</option>
                            <option> Zomervakantie</option>
                            <option>Wintervakantie</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="columnselectors">
                <div class="selector-container">
                    <div class="selectorcontent">
                        <select>
                            <option>Kies een land</option>
                            <option>Spanje</option>
                            <option>Griekenland</option>
                            <option>Frankrijk</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="columnselectors">
                <div class="selector-container">
                    <div class="selectorcontent">
                        <input type="date" />
                    </div>
                </div>
            </div>
        </div>


        <div class="populairheader">
            <p> Populaire vakanties</p>
        </div>
        <div class="row">
            @foreach (var a in Model)
            {
                @await Html.PartialAsync("_PopularAccommodation", a);
            }
            </div>

    </div>