@{
    ViewData["Title"] = "Home Page";
    @model List<NetMatch_PT.ViewModels.AccommodationDetailVm>
}

<div class="col-md-12" style="margin-bottom: 30px;">
    <div class="row justify-content-around">
        <div>
            <button type="button" class="btn btn-primary dropdown-toggle dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kies een soort vakantie
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Zomervakantie</a>
                <a class="dropdown-item" href="#">Wintervakantie</a>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-primary dropdown-toggle dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kies een land
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Spanje</a>
                <a class="dropdown-item" href="#">Griekenland</a>
                <a class="dropdown-item" href="#">Frankrijk</a>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-primary dropdown-toggle dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kies een datum
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1 April 2020</a>
                <a class="dropdown-item" href="#">2 April 2020</a>
                <a class="dropdown-item" href="#">3 April 2020</a>
            </div>
        </div>
    </div>
</div>

<div style="background-color: white; border:5px solid cornflowerblue" class="col-md-12">
    <div class="populairheader">
        <p> Populaire vakanties</p>
    </div>

    <div class="row justify-content-around">
        @foreach (var a in Model)
        {
            @await Html.PartialAsync("_PopularAccommodation", a)
            ;
        }
    </div>
</div>