
@{
    ViewData["Title"] = "Overonspagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" media="screen" href="~/css/ContactPagina.css" />
</head>
<center>
    <div class="tekst">
        <h2>
            Over ons
        </h2>
        <br />
        <p>
            CYouAT is een Nederlands reisbureau dat zich richt op het aanbieden van populaire reizen naar landen zoals Griekenland, Spanje en Frankrijk voor de laagste prijzen zonder compromissen te hoeven maken op de kwaliteit van de reis.<br /><br />
            Dit proberen wij te bereiken door direct samen te werken met de beste luchtvaartmaatschappijen en hotels/campings in de vakantielanden om aan de beste deals te komen zodat u een goede vakantie beleving kan hebben maar wel voor een lage prijs die alleen te vinden is bij ons.
        </p>
    </div>
    <div class="tekst">
        <h2>
            De feiten
        </h2>
        <br />
        <p>
            <ul>
                <li>Het bedrijf is opgericht in 2019</li>
                <li>5 Werknemers verdeeld over Nederland en België</li>
                <li>CYouAT Gebruikt de laatste technologieën</li>
                <li>Een doelgericht team met de focus om betaalbare vakanties van hoge kwaliteit tot iedereen in Nederland beschikbaar te maken</li>
            </ul>
        </p>
    </div>
</center>

