
@{
    ViewData["Title"] = "Partnerpagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" media="screen" href="~/css/PartnerpaginaStyle.css" />
</head>
<center>
    <h1>Onze partners</h1>
</center>
<div class="grid-container">
        <div class="grid-item">
            <div class="card mb-3" style="background-color: rgba(77, 138, 235, 0.3);">
                    <img class="card-img-top" src="~/images/klm.jpg" alt="KLM"/>
                    <div class="card-body">
                        <h5 class="card-title">KLM</h5>
                        <p class="card-text">Samen met KLM bieden we u meer bestemmingen, voordelige aanbiedingen en goede aansluitingen.<small class="text-muted"></small></p>
                    </div>
            </div>
        </div>
            <div class="grid-item">
                <div class="card mb-3" style="background-color: rgba(77, 138, 235, 0.3);">
                    <img class="card-img-top" src="~/images/transavia.png" alt="Transavia" />
                    <div class="card-body">
                        <h5 class="card-title">Transavia</h5>
                        <p class="card-text">Transavia is de nummer 1 budgetluchtvaartmaatschappij en qua grootte de 2e airline van Nederland. We zijn een van meest toegankelijke maatschappijen van Europa, waarbij low cost ook écht goed voelt. Transavia is leidend in gastvrijheid, service en digitale dienstverlening. <small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
                <div class="grid-item">
                    <div class="card mb-3" style="background-color: rgba(77, 138, 235, 0.3);">
                        <img class="card-img-top" src="~/images/corendon.png" alt="Corendon" />
                        <div class="card-body">
                            <h5 class="card-title">Corendon</h5>
                            <p class="card-text">We zijn een sterk merk met een no-nonsense karakter. Net als de Korund edelsteen waar we ooit naar vernoemd zijn. Bijna zo sterk als de diamant, maar minder duur en daardoor voor iedereen bereikbaar.<small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
                    <div class="grid-item">
                        <div class="card mb-3" style="background-color: rgba(77, 138, 235, 0.3);">
                            <img class="card-img-top" src="~/images/netmatch.png" alt="Netmatch" />
                            <div class="card-body">
                                <h5 class="card-title">Netmatch</h5>
                                <p class="card-text">NetMatch is a Dutch software specialist focusing on e-commerce in the travel industry. Since 1998 NetMatch provides software solutions and services to its clients throughout Europe. By providing skilled teams and the latest technology we enable our clients to implement their innovative ideas and business models.<small class="text-muted"></small></p>
                            </div>
                        </div>
                    </div>
</div>