
@{
    ViewData["Title"] = "Partnerpagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" media="screen" href="~/css/ContactPagina.css" />
</head>
<center>
    <div class="tekst1">
        <h2>
            Onze partners
        </h2>
        <br />
        <div class="grid-container">
            <div class="grid-item">
                <p>
                    KLM
                </p>
            </div>
            <div class="grid-item">
                <p>
                    Transavia
                </p>
            </div>
        </div>
    </div>
</center>