
@{
    ViewData["Title"] = "Partnerpagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" media="screen" href="~/css/PartnerpaginaStyle.css" />
</head>
<center>
    <div class="tekst">
        <h2>
            TEST
        </h2>
        <br />
        <p>
            TEST
        </p>
    </div>
    <div class="tekst">
        <h2>
            TEST
        </h2>
        <br />
        <p>
            TEST
        </p>
    </div>
</center>