@{
    Layout = null;
    @model Travel
    ViewData["Title"] = "PDFboeking";
}





<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Bevestiging</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Reisboeken.css" />
    <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>


    <!-- jQuery library -->
    <script src="js/jquery.min.js"></script>


    <!-- jsPDF library -->
    <script src="js/jsPDF/dist/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function HTMLtoPDF(l) {
            var doc = new jsPDF();


            doc.setFont("helvetica");
            doc.setFontType("bold");
            doc.setFontSize(9);

            doc.fromHTML($('#toPDF').get(0), 20, 20, {
                'width': 1000
            });

            doc.save('Bevestiging_Factuur.pdf')
        }

       
    </script>
</head>


<body>
    <header class="Header">
        <div id="myMenu">
            <div class="myWrapper">
                <nav>
                    <a href="/"><img id="imgComp" src="../images/PT_CompName.png" height="100" width="250" /></a>
                </nav>
            </div>
        </div>
    </header>

    <br />
    <script src="/path/to/jquery.cookie.js"></script>
    <script>
        var fname = localStorage['firstName'];
        var lname = localStorage['lastName'];
        var birthdate = localStorage['birthDate'];
        var wplaats = localStorage['wplaats'];
        var huisnr = localStorage['huisnr'];
        var straat = localStorage['strnaam'];
        var postcode = localStorage['postcode'];
        var email = localStorage['email'];
        var telefoonnr = localStorage['telnr'];
        var nationaliteit = localStorage['nationality'];

        var reizigerfname = localStorage['NameReiziger'];
        var reizigerlname = localStorage['AchternaamReiziger'];
        var reizigerstraat = localStorage['StrReiziger'];
        var reiszigerwoonplaats = localStorage['WpReiziger'];


        @*var Prijs = @Model.Price;
        var prijsMetKorting = Prijs;*@
    </script>

    <div id="toPDF">
        <center><h1>Factuur bevestiging</h1></center>
        <br />
        <h1>Persoonsgegevens</h1>
        <br />
        <center>
            <p>
                Voornaam:
                <script>document.write(fname)</script>
            </p>
            <p>
                Achternaam:
                <script>document.write(lname)</script>
            </p>
            <p>
                Geboortedatum:
                <script>document.write(birthdate)</script>
            </p>
            <p>
                Nationaliteit:
                <script>document.write(nationaliteit)</script>
            </p>
            <p>
                Woonplaats:
                <script>document.write(wplaats)</script>,&nbsp;
                <script>document.write(postcode)</script>
            </p>
            <p>
                Adres:
                <script>document.write(straat)</script>,&nbsp;
                <script>document.write(huisnr)</script>
            </p>
            <p>
                Telefoonnummer:
                <script>document.write(telefoonnr)</script>
            </p>
            <p>
                E-mail:
                <script>document.write(email)</script>
            </p>

            <h1>Persoonsgegevens reisgezelschap</h1>

            <p>
                Voornaam:
                <script>document.write(reizigerfname)</script>
            </p>
            <p>
                Achternaam:
                <script>document.write(reizigerlname)</script>
            </p>
            <p>
                Woonplaats:
                <script>document.write(reiszigerwoonplaats)</script>,&nbsp;
                
            </p>
            <p>
                Adres:
                <script>document.write(reizigerstraat)</script>,&nbsp;
               
            </p>
            <br />
            <table style="height: 160px; width: 100%; font-size:9px;" class="table">
                <tbody>
                    <tr class="thead-dark">
                        <td style="width: 180px;">Bestemming&nbsp;</td>
                        <td style="width: 180px;">&nbsp;Reis datum</td>
                        <td style="width: 180px;">Aantal reizigers&nbsp;</td>
                        <td style="width: 180px;">&nbsp;Prijs</td>
                    </tr>
                    <tr>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;">
                            <script>document.write(prijsMetKorting)</script>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                        <td style="width: 150px;"></td>
                    </tr>
                </tbody>
            </table>

        </center>

    </div>

    <center><a class="btn-outline-primary" href="javascript:HTMLtoPDF()">Download PDF</a></center>
    <br />

    <script type="text/javascript">
        function send_data() {
            var fname = localStorage['firstName'];
            var lname = localStorage['lastName'];
            var birthdate = localStorage['birthDate'];
            var wplaats = localStorage['wplaats'];
            var huisnr = localStorage['huisnr'];
            var straat = localStorage['strnaam'];
            var postcode = localStorage['postcode'];
            var email = localStorage['email'];
            var telefoonnr = localStorage['telnr'];
            var nationaliteit = localStorage['nationality'];

            var reizigerfname = localStorage['NameReiziger'];
            var reizigerlname = localStorage['AchternaamReiziger'];
            var reizigerstraat = localStorage['StrReiziger'];
            var reiszigerwoonplaats = localStorage['WpReiziger'];

                $(document).ready(function() {
                    //function will be called on button click having id btnsave
                    $("#btnboeken").click(function () {
                        $.ajax({
                            type: "POST", //HTTP POST Method
                            url: '/Home/InsertRoleList', // Controller/View
                            data: { //Passing data
                                Name: $("#Name").val(), //Reading text box values using Jquery
                                Role: $("#Role").val(),
                            }
                        });
                    });
        });
        }
    </script>
    <form>
        <div style="" class="ja">
            <button class="btn-primary" id="btnboeken" style="right:100px; position:absolute; width:200px; height:100px; font-size:larger;"> Boeken </button>
        </div>
    </form>
    <br /> <br /> <br /> <br /> <br /> <br /><br /> <br /> <br /> <br /> <br /> <br /><br /> <br /> <br /> <br /> <br /> <br /><br /> <br /> <br /> <br /> <br /> <br />


    <br />
</body>
</html>
<script>
    
</script>
<style>
</style>

