
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReisBoeken</title>
    
</head>
<body>
    
    <h1> Reisboeking </h1>

    <form>

      
        <div class="Reis-boeking">
            <center><h1> Reisgezelschap </h1></center>
            <div class="col">
                <label>Aantal Volwassenen:  </label><select name="Aantal-volwassenen" class="volwassenen" id="aantalVolwassenen">
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                    <option value="5">
                        5
                    </option>
                    <option value="6">
                        6
                    </option>
                    <option value="7">
                        7
                    </option>
                    <option value="8">
                        8
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="10">
                        10+
                    </option>
                </select>
            </div> <div class="col"></div> <div class="col"></div>

            <div class="col">
                <label>Aantal kinderen:  </label><select name="Aantal-kinderen" class="kinderen" id="aantalKinderen">
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                    <option value="5">
                        5
                    </option>
                    <option value="6">
                        6
                    </option>
                    <option value="7">
                        7
                    </option>
                    <option value="8">
                        8
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="10">
                        10+
                    </option>
                </select>
            </div> <div class="col"></div> <div class="col"></div>

            <div class="col">
                <label>Aantal Kamers:  </label><select name="Aantal-kamers" class="kamers" id="aantalKamers">
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                    <option value="5">
                        5
                    </option>
                    <option value="6">
                        6
                    </option>
                    <option value="7">
                        7
                    </option>
                    <option value="8">
                        8
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="10">
                        10+
                    </option>
                </select>
            </div> <div class="col"></div> <div class="col"></div>
            <br />
            <center>
                <button class="btnReisgezelschap" style="" value="">Reisgezelschap opslaan</button>
            </center>
            <center><h1> Periode </h1></center>
            <div class="Vertrek-Datum">
                <label>Vertrekperiode vanaf: </label><select id="DropDownVertrekDatum" name="VertrekDatum">
                    <option selected="selected" value="2020-05-19">19-05-2020</option>
                    <option value="2020-03-01">maart 2020</option>
                    <option value="2020-04-01">april 2020</option>
                    <option value="2020-05-01">mei 2020</option>
                    <option value="2020-06-01">juni 2020</option>
                    <option value="2020-07-01">juli 2020</option>
                    <option value="2020-08-01">augustus 2020</option>
                    <option value="2020-09-01">september 2020</option>
                    <option value="2020-10-01">oktober 2020</option>
                    <option value="2020-11-01">november 2020</option>
                    <option value="2020-12-01">december 2020</option>
                    <option value="2021-01-01">januari 2021</option>
                    <option value="2021-02-01">februari 2021</option>
                    <option value="2021-03-01">maart 2021</option>
                    <option value="2021-04-01">april 2021</option>
                    <option value="2021-05-01">mei 2021</option>
                    <option value="2021-06-01">juni 2021</option>
                    <option value="2021-07-01">juli 2021</option>
                    <option value="2021-08-01">augustus 2021</option>
                    <option value="2021-09-01">september 2021</option>
                    <option value="2021-10-01">oktober 2021</option>
                </select>
            </div>

            <div class="reis-tijd">
                <label for="Reisduur">Reisduur: </label><select id="DropdownReisDuur" name="Reisduur">
                    <option value="6">6 dgn (4 nachten)</option>
                    <option value="7">7 dgn (5 nachten)</option>
                    <option value="8">8 dgn (6 nachten)</option>
                    <option selected="selected" value="9">9 dgn (7 nachten)</option>
                    <option value="10">10 dgn (8 nachten)</option>
                    <option value="11">11 dgn (9 nachten)</option>
                    <option value="12">12 dgn (10 nachten)</option>
                    <option value="13">13 dgn (11 nachten)</option>
                    <option value="14">14 dgn (12 nachten)</option>
                    <option value="15">15 dgn (13 nachten)</option>
                    <option value="16">16 dgn (14 nachten)</option>
                    <option value="17">17 dgn (15 nachten)</option>
                    <option value="18">18 dgn (16 nachten)</option>
                    <option value="19">19 dgn (17 nachten)</option>
                    <option value="20">20 dgn (18 nachten)</option>
                    <option value="21">21 dgn (19 nachten)</option>
                    <option value="22">22 dgn (20 nachten)</option>
                    <option value="23">23 dgn (21 nachten)</option>
                    <option value="24">24 dgn (22 nachten)</option>
                </select>
            </div>
        </div>


    </form>
</body>
</html>

<style>
    .Reis-boeking {
  background-color: lightgrey;
  width: 300px;
  padding: 50px;
  margin: 20px;
  position:relative;
}
    #DropDownVertrekDatum{
        position: relative;
        float:right;
    }
    #DropdownReisDuur{
        position: relative;
        float:right;
    }
    #aantalVolwassenen{
        position: relative;
        float:right;
    }
    #aantalKinderen{
        position: relative;
        float:right;
    }
    .btnReisgezelschap{
        width: 200px;
        height: 30px;
        
    }
    .kamers{
        position: relative;
        float:right;
    }
</style>