
@{
    Layout = null;
    @model BoekingVm
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using NetMatch_PT.ViewModels


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReisBoeken</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Reisboeken.css" />
    <script src="/path/to/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>


<body style="height: 100vh; overflow: hidden;">
    <div class="container-fluid">
        <div class="row">
            <header class="Header">
                <div id="myMenu">
                    <div class="myWrapper">
                        <nav>
                            <a href="/"><img id="imgComp" src="../images/PT_CompName.png" height="100" width="250" /></a>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
        <form asp-action="ReisBoeken" asp-controller="Home" method="post">
            <div class="col-md-12">
                <div id="firstOptions" class="selectionDiv">
                    <h3>@Model.TravelOptions.Accommodation.Title</h3>
                    <div class="form-group">
                        <label asp-for="Vervoer"></label>
                        <select asp-for="Vervoer" class="form-control">
                            <option value="0">Eigen</option>
                            <option value="1">Amsterdam</option>
                            <option value="2">Rotterdam</option>
                            <option value="3">Eindhoven</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnnuleringsVerzekering"></label>
                        <input asp-for="AnnuleringsVerzekering" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ReisVerzekering"></label>
                        <input asp-for="ReisVerzekering" class="form-control" />
                    </div>
                    <button class="btn btn-primary" id="to2">Volgende</button>
                </div>
                <div id="secondOptions" class="selectionDiv">
                    <h5>Hoofdreiziger:</h5>
                    <div class="form-group">
                        <label asp-for="Voornaam"></label>
                        <input asp-for="Voornaam" class="form-control" />
                        <span asp-validation-for="Voornaam"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Achternaam"></label>
                        <input asp-for="Achternaam" class="form-control" />
                        <span asp-validation-for="Achternaam"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GeboorteDatum"></label>
                        <input asp-for="GeboorteDatum" class="form-control" />
                        <span asp-validation-for="GeboorteDatum"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TelefoonNummer"></label>
                        <input asp-for="TelefoonNummer" class="form-control" />
                        <span asp-validation-for="TelefoonNummer"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adres"></label>
                        <input asp-for="Adres" class="form-control" />
                        <span asp-validation-for="Adres"></span>
                    </div>
                    <div class="row">
                        @for (int x = 0; x < Model.TravelCompanions.Capacity; x++)
                        {
                            <div>
                                <h5>Mede-reiziger @x:</h5>
                                <div class="form-group">
                                    <label asp-for="TravelCompanions[x].Voornaam"></label>
                                    <input asp-for="TravelCompanions[x].Voornaam" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="TravelCompanions[x].Achternaam"></label>
                                    <input asp-for="TravelCompanions[x].Achternaam" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="TravelCompanions[x].Geboortedatum"></label>
                                    <input asp-for="TravelCompanions[x].Geboortedatum" class="form-control" />
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="form-group">
                            <label asp-for="AgentKorting"></label>
                            <input asp-for="AgentKorting" class="form-control" />
                        </div>
                    }
                    <button type="submit" class="btn btn-primary">Volgende</button>
                </div>

            </div>
        </form>
    </div>
</body>
</html>


<script>
    $("#to2").on('click',
        function () {
            window.location.hash = '#secondOptions';
        });
</script>

