<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetMatch_PT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="container-fluid">
<header>
    <div class="row">
        <div class="col-md-12 navContainer">
            <img class ="navBG" src="images/PT_HeaderBG.png"/>
            <div class="row navFirstRow">
                <div class="col-md-3 navLogo"><img class="navLogoImg" src="images/PT_Logo.png"/></div>
                <div class="col-md-4 offset-lg-1 align-self-end">
                    <nav class="navbar navbar-expand-sm  bg-primary navbar-dark" style="justify-content:space-around">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accommodaties</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Boeken</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Over ons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        
                    </nav>

                </div>
                <div class="col-md-2 offset-md-2 openingTimesHeader" style="font-weight: bold;">
                    Openingstijden: <br />
                        Maandag t/m vrijdag 09:00 - 17:00 <br />
                        Zaterdag 10:00 - 15:00<br />
                        Zondag gesloten
                </div>
            </div>
        </div>
    </div>
</header>
<main role="main" class="pb-3">
    <div class="row">
        <div class="col-md-1" style="height: 100vh; background-color: rgba(64, 128, 230, 0.8);">
            a
        </div>
        <div class="col-md-10" style="margin-top: 10px;">
            @RenderBody()
        </div>
      
        <div class="col-md-1" style="height: 100vh; background-color: rgba(64, 128, 230, 0.8);">
            a
        </div>
    </div>
    
</main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - NetMatch_PT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
